@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-zinc-900 antialiased selection:bg-zinc-100 selection:text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #f4f4f5 transparent;
}

.dark * {
  scrollbar-color: #3f3f46 transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #f4f4f5;
  border-radius: 3px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
}
